<div class="container-fluid">
    <h3>Cajas</h3>
    <mat-form-field class="col-9">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  
    <button type="button" (click)="agregarItem()" class="btn btn-primary float-right col-3">Agregar caja</button>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-left"><b>Nro</b></th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
  
      <ng-container matColumnDef="fecha_apertura">
        <th mat-header-cell *matHeaderCellDef><b>Fecha apertura</b></th>
        <td mat-cell *matCellDef="let element"> {{ element.fecha_apertura | date:"dd/MM/yyyy" }} </td>
      </ng-container>
      
      <ng-container matColumnDef="fecha_cierre">
        <th mat-header-cell *matHeaderCellDef><b>Fecha cierre</b></th>
        <td mat-cell *matCellDef="let element"> {{ element.fecha_cierre | date:"dd/MM/yyyy" }} </td>
      </ng-container>

      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef class="text-center"><b>Saldo</b></th>
        <td mat-cell *matCellDef="let element"> 
          <span class="col-8 float-left text-right">
            $ {{element.saldo | number : '1.2-2' }} 
          </span>          
        </td>
      </ng-container>
    
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef><b>Acciones</b></th>
        <td mat-cell *matCellDef="let element">
          <div class="btn">
            <button type="button" class="btn btn-primary" placement="top" ngbTooltip="Cerrar" (click)="editarItem(element.id)"  [disabled]="!!element.fecha_cierre">
              <i class="fas fa-check-square"></i>
            </button>
            <button type="button" class="btn btn-danger ml-1" placement="top" ngbTooltip="Eliminar" (click)="borrarItem(element)"  [disabled]="!!element.fecha_cierre">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button *ngIf="!element.fecha_cierre" type="button" class="btn btn-success ml-1" placement="top" ngbTooltip="Movimientos" (click)="verMovimientos(element.id)">
              <i class="fas fa-money-bill-alt"></i>
            </button>
            <button *ngIf="!!element.fecha_cierre" type="button" class="btn btn-secondary ml-1" placement="top" ngbTooltip="Movimientos" (click)="verMovimientos(element.id)">
              <i class="fas fa-eye"></i>
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
