<h4>Crear Colegiado</h4>
<div class="col-12">
  <div class="card card-primary mt-2 container">
    <!-- form start -->
    <form role="form" ngNativeValidate [formGroup]="forma" (ngSubmit)="crearColegiado()" action="" method="post">
      <div class="card-body form-row">

        <mat-tab-group>
          <mat-tab label="General">
            <div class="row mt-2 mr-1">
              <div class="col-10">
                <div class="row border-bottom">
                  <div class="form-group col-2">
                    <label for="num_matricula">Matricula</label>
                    <input formControlName="num_matricula" name="num_matricula" type="text"
                      class="form-control form-control-sm" placeholder="Nro Matricula" required>
                  </div>

                  <div class="form-group col-3">
                    <label for="fecha_matricula">Fecha Matricula</label>
                    <input formControlName="fecha_matricula" name="fecha_matricula" type="date"
                      class="form-control form-control-sm" required>
                  </div>

                  <div class="form-group col-1">
                    <label for="folio">Folio</label>
                    <input formControlName="folio" name="folio" type="text" class="form-control form-control-sm"
                      placeholder="Folio" required>
                  </div>
                  <div class="form-group col-1">
                    <label for="libro">libro</label>
                    <input formControlName="libro" name="libro" type="text" class="form-control form-control-sm"
                      placeholder="Libro" required>
                  </div>

                  <div class="form-group col-1">
                    <label for="legajo">legajo</label>
                    <input formControlName="legajo" name="legajo" type="text" class="form-control form-control-sm"
                      placeholder="Legajo" required>
                  </div>

                  <div class="form-group col-4">
                    <label for="circunscripcion">Circunscripcion</label>
                    <input formControlName="circunscripcion" name="circunscripcion" type="text"
                      class="form-control form-control-sm" placeholder="Circunscripcion" required>
                  </div>
                </div>
                <div class="row border-bottom mt-2" formGroupName="persona">
                  <div class="form-group col-md-3">
                    <label for="nombre">Nombres</label>
                    <input formControlName="nombres" name="nombres" type="text" class="form-control form-control-sm"
                      placeholder="Nombre completo" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="apellidos">Apellidos</label>
                    <input formControlName="apellidos" name="apellidos" type="text" class="form-control form-control-sm"
                      placeholder="Nombre completo" required>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="tipo_doc">Tipo doc.</label>
                    <select class="form-control form-control-sm" formControlName="tipo_doc" name="tipo_doc">
                      <option value="DNI">DNI</option>
                      <option value="Cedula">Cedula</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="numero_doc">Número</label>
                    <input formControlName="numero_doc" name="numero_doc" type="number" class="form-control form-control-sm"
                      placeholder="Número" required>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cuit_cuil">CUIT/CUIL</label>
                    <input formControlName="cuit_cuil" name="cuit_cuil" type="number" class="form-control form-control-sm"
                      placeholder="CUIT/CUIL" required>
                  </div>
                  <div class="form-group col-3">
                    <label for="fecha_nac">Fecha Nac.</label>
                    <input formControlName="fecha_nac" name="fecha_nac" type="date"
                      class="form-control form-control-sm" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="localidadNac">localidad_nac</label>
                    <input formControlName="localidad_nac" name="localidad_nac" type="text"
                      class="form-control form-control-sm" placeholder="Localidad" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="provincia_nac">Provincia</label>
                    <input formControlName="provincia_nac" name="provincia_nac" type="text"
                      class="form-control form-control-sm" placeholder="Provincia" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="pais_nac">Pais</label>
                    <input formControlName="pais_nac" name="pais_nac" type="text" class="form-control form-control-sm"
                      placeholder="Pais" required>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="nombre" class="col-1">Sexo</label>
                    <div class="form-check form-check-inline">
                      <input type="radio" name="gndr" formControlName="sexo" name="sexo" value="m">
                      <label class="form-check-label" for="inlineRadio1">&nbsp;Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="radio" name="gndr" formControlName="sexo" name="sexo" value="F">
                      <label class="form-check-label" for="inlineRadio1">&nbsp;Femenino</label>
                    </div>
                  </div>
                </div>
                <div class="row border-bottom mt-2">
                  <label for="nombre" class="col-2">Telefonos</label>
                  <div class="form-group col-md-2">
                    <input formControlName="telefono1" name="telefono1" type="text" class="form-control form-control-sm"
                      placeholder="Telefono 1" required>
                  </div>
                  <div class="form-group col-md-2">
                    <input formControlName="telefono2" name="telefono2" type="text" class="form-control form-control-sm"
                      placeholder="Telefono 2" required>
                  </div>
                  <div class="form-group col-md-2">
                    <input formControlName="telefono3" name="telefono3" type="text" class="form-control form-control-sm"
                      placeholder="Telefono 3" required>
                  </div>
                  <label for="email" class="form-group col-md-1">Email</label>
                  <div class="form-group col-md-3">
                    <input formControlName="email" name="email" type="email" class="form-control form-control-sm"
                      placeholder="email" required>
                  </div>
                </div>
              </div>

              <div class="col-2">
                <div class="row bg-light" style="height: 150px;">
                  foto
                </div>
              </div>
            </div>

          </mat-tab>
          <!---->
          <mat-tab label="Dirección">

            <div class="col-12 mt-2">
              <div class="row border-bottom" formGroupName="domicilioLegal">
                <div class="form-group col-md-1">
                  <label for="tipo">Dirección</label>
                  <input formControlName="tipo" name="tipo" type="text" class="form-control form-control-sm"
                    placeholder="Tipo" required readonly>
                </div>
                <div class="form-group col-md-2">
                  <label for="calle">Calle</label>
                  <input formControlName="calle" name="calle" type="text" class="form-control form-control-sm"
                    placeholder="Calle" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="numero">Número</label>
                  <input formControlName="numero" name="numero" type="text" class="form-control form-control-sm"
                    placeholder="Número" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="piso">Piso</label>
                  <input formControlName="piso" name="piso" type="text" class="form-control form-control-sm"
                    placeholder="Piso" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="departamento">Dpto</label>
                  <input formControlName="departamento" name="departamento" type="text"
                    class="form-control form-control-sm" placeholder="Dpto" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="localidad">Localidad</label>
                  <input formControlName="localidad" name="localidad" type="text" class="form-control form-control-sm"
                    placeholder="Localidad" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="provincia">Provincia</label>
                  <input formControlName="provincia" name="provincia" type="text" class="form-control form-control-sm"
                    placeholder="Provincia" required>
                </div>
                <div class="form-group col-2">
                  <label for="fecha">Fecha</label>
                  <input formControlName="fecha" name="fecha" type="date" class="form-control form-control-sm"
                    style="font-size: 0.70em !important;" required>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row border-bottom" formGroupName="domicilioReal">
                <div class="form-group col-md-1">
                  <label for="tipo">Dirección</label>
                  <input formControlName="tipo" name="tipo" type="text" class="form-control form-control-sm"
                    placeholder="Tipo" required readonly>
                </div>
                <div class="form-group col-md-2">
                  <label for="calle">Calle</label>
                  <input formControlName="calle" name="calle" type="text" class="form-control form-control-sm"
                    placeholder="Calle" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="numero">Número</label>
                  <input formControlName="numero" name="numero" type="text" class="form-control form-control-sm"
                    placeholder="Número" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="piso">Piso</label>
                  <input formControlName="piso" name="piso" type="text" class="form-control form-control-sm"
                    placeholder="Piso" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="departamento">Dpto</label>
                  <input formControlName="departamento" name="departamento" type="text"
                    class="form-control form-control-sm" placeholder="Dpto" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="localidad">Localidad</label>
                  <input formControlName="localidad" name="localidad" type="text" class="form-control form-control-sm"
                    placeholder="Localidad" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="provincia">Provincia</label>
                  <input formControlName="provincia" name="provincia" type="text" class="form-control form-control-sm"
                    placeholder="Provincia" required>
                </div>
                <div class="form-group col-2">
                  <label for="fecha">Fecha</label>
                  <input formControlName="fecha" name="fecha" type="date" class="form-control form-control-sm"
                    style="font-size: 0.70em !important;" required>
                </div>
              </div>
            </div>
            <h5>Direcciones anteriores</h5>
            <div class="col-12">

              <div class="row border-bottom" formGroupName="domicilioAnterior">
                <div class="form-group col-md-1">
                  <label for="tipo">Dirección</label>
                  <input formControlName="tipo" name="tipo" type="text" class="form-control form-control-sm"
                    placeholder="Tipo" required readonly>
                </div>
                <div class="form-group col-md-2">
                  <label for="calle">Calle</label>
                  <input formControlName="calle" name="calle" type="text" class="form-control form-control-sm"
                    placeholder="Calle" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="numero">Número</label>
                  <input formControlName="numero" name="numero" type="text" class="form-control form-control-sm"
                    placeholder="Número" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="piso">Piso</label>
                  <input formControlName="piso" name="piso" type="text" class="form-control form-control-sm"
                    placeholder="Piso" required>
                </div>
                <div class="form-group col-md-1">
                  <label for="departamento">Dpto</label>
                  <input formControlName="departamento" name="departamento" type="text"
                    class="form-control form-control-sm" placeholder="Dpto" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="localidad">Localidad</label>
                  <input formControlName="localidad" name="localidad" type="text" class="form-control form-control-sm"
                    placeholder="Localidad" required>
                </div>
                <div class="form-group col-md-2">
                  <label for="provincia">Provincia</label>
                  <input formControlName="provincia" name="provincia" type="text" class="form-control form-control-sm"
                    placeholder="Provincia" required>
                </div>
                <div class="form-group col-2">
                  <label for="fecha">Fecha</label>
                  <input formControlName="fecha" name="fecha" type="date" class="form-control form-control-sm"
                    style="font-size: 0.70em !important;" required>
                </div>
              </div>
            </div>

          </mat-tab>
          <!---->
          <mat-tab label="Otros">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="form-group col-12 border-bottom">
                    <label for="exampleFormControlTextarea1">Observaciones</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="form-group col-12">
                    <label for="exampleFormControlTextarea1">Denuncias</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- /.card-body -->
      <div class="card-footer row justify-content-end">
        <a routerLink="usuarios" type="button" class="btn btn-secondary mr-2">Cancelar</a>
        <!--
        <button [disabled]="forma.invalid" type="submit" class="btn btn-primary">Guardar</button>
        -->
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>

    </form>
  </div>
</div>
