<div class="col-12 row">
  <div class="col-10">
    <h4 *ngIf="colegiado">Cuenta del Colegiado: {{colegiado.persona.apellidos}}, {{colegiado.persona.nombres}}</h4>
  </div>
  <div class="col-2">

    <button type="button" class="btn btn-sm btn-success float-right mt-1" placement="top" ngbTooltip="Editar"
      (click)="editarItem()">
      <i class="fas fa-edit"></i>
    </button>

  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
      {{ country.name }}
    </td>
    <td>{{ country.area | number }}</td>
    <td>{{ country.population | number }}</td>
  </tr>
  </tbody>
</table>
