<div class="container-fluid">
<div class="col-12"><h3>Crear Caja</h3></div>
<div class="col-12">
    <div class="card card-primary mt-2 container">
        <!-- form start -->
        <form role="form" ngNativeValidate [formGroup]="forma" (ngSubmit)="createItem()" action="" method="post">
            <div class="card-body form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Fecha</label>
                    <input formControlName="fecha" name="fecha" type="date" class="form-control" placeholder="Fecha"
                        required [ngClass]="{'is-invalid': forma.get('fecha').errors?.customMsgError}">
                    <div class="invalid-feedback">
                        {{ forma.get('fecha').errors?.customMsgError }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="tipo_doc">Tipo</label>
                    <select class="form-control" formControlName="tipo_movimiento_caja_id"
                        name="tipo_movimiento_caja_id"
                        [ngClass]="{'is-invalid': forma.get('tipo_movimiento_caja_id').errors?.customMsgError}">
                        <option value="1">Ingreso</option>
                        <option value="2">Salida</option>
                    </select>
                    <div class="invalid-feedback">
                        {{ forma.get('tipo_movimiento_caja_id').errors?.customMsgError }}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="nombre">Observación</label>
                    <input formControlName="observacion" name="observacion" type="text" class="form-control"
                        placeholder="observación" required required
                        [ngClass]="{'is-invalid': forma.get('observacion').errors?.customMsgError}">
                    <div class="invalid-feedback">
                        {{ forma.get('observacion').errors?.customMsgError }}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="nombre">Importe</label>
                    <input formControlName="importe" name="importe" type="number" class="form-control"
                        placeholder="importe" required required
                        [ngClass]="{'is-invalid': forma.get('importe').errors?.customMsgError}">
                    <div class="invalid-feedback">
                        {{ forma.get('importe').errors?.customMsgError }}
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer row justify-content-end">
                <button type="button" (click)="volver()" class="btn btn-secondary mr-2">Volver</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
</div>