<button class="btn" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp;
<button class="btn btn-primary" (click)="showPrimary()" ngbTooltip="Will disappear in 10s">primary toast</button>&nbsp;
<button class="btn btn-secondary" (click)="showSecondary()" ngbTooltip="Will disappear in 10s">Secondary toast</button>&nbsp;
<button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp;
<button class="btn btn-danger" (click)="showDanger()" ngbTooltip="Will disappear in 10s">danger toast</button>&nbsp;
<button class="btn btn-warning" (click)="showWarning()" ngbTooltip="Will disappear in 10s">warning toast</button>&nbsp;
<button class="btn btn-info" (click)="showInfo()" ngbTooltip="Will disappear in 10s">info toast</button>&nbsp;


